In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [6]:
mist_cf_res = "../results/timing_experiments/timing_res_mist.tsv"
mist_cf_df = pd.read_csv(mist_cf_res, sep="\t")
display(mist_cf_df)
# Compute mean, SEM and 95% CI and print for both MIST CF and SIRIUS
# Columns are "Method", "Time", "Replicate"
# Group by method and compute mean, SEM and 95% CI
mist_cf_df_grouped = mist_cf_df.groupby("Method")
mist_cf_df_mean = mist_cf_df_grouped.mean()
mist_cf_df_sem = mist_cf_df_grouped.sem()
mist_cf_df_ci = mist_cf_df_grouped.apply(lambda x: x.sem() * 1.96)
# Extract single values
mist_cf_mean = mist_cf_df_mean["Time"][0]
mist_cf_sem = mist_cf_df_sem["Time"][0]
mist_cf_ci = mist_cf_df_ci["Time"][0]

# Print in a single statement
print(f"MIST CF: {mist_cf_mean:.2f} ± {mist_cf_sem:.2f} (95% CI: {mist_cf_ci:.2f})")

  Method       Time  Specs  Replicate
0   MIST  40.258024     10          1
1   MIST  39.050628     10          2
2   MIST  38.618334     10          3

MIST CF: 39.31 ± 0.49 (95% CI: 0.96)

/tmp/ipykernel_1597873/2142435450.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mist_cf_df_ci = mist_cf_df_grouped.apply(lambda x: x.sem() * 1.96)

In [8]:
# Repeat all analyses but with sirius
sirius_res = "../results/timing_experiments/timing_res_sirius.tsv"
sirius_df = pd.read_csv(sirius_res, sep="\t")
display(sirius_df)
# Compute mean, SEM and 95% CI and print for both MIST CF and SIRIUS
# Columns are "Method", "Time", "Replicate"
# Group by method and compute mean, SEM and 95% CI
sirius_df_grouped = sirius_df.groupby("Method")
sirius_df_mean = sirius_df_grouped.mean()
sirius_df_sem = sirius_df_grouped.sem()
sirius_df_ci = sirius_df_grouped.apply(lambda x: x.sem() * 1.96)
# Extract single values
sirius_mean = sirius_df_mean["Time"][0]
sirius_sem = sirius_df_sem["Time"][0]
sirius_ci = sirius_df_ci["Time"][0]

# Print in a single statement
print(f"SIRIUS: {sirius_mean:.2f} ± {sirius_sem:.2f} (95% CI: {sirius_ci:.2f})")
## Note: the specs=100 is a typo from a hardcoded error; they were tested on the same MGF file

   Method        Time  Specs  Replicate
0  SIRIUS  113.016522    100          1
1  SIRIUS  112.339631    100          2
2  SIRIUS  112.463339    100          3

SIRIUS: 112.61 ± 0.21 (95% CI: 0.41)

/tmp/ipykernel_1597873/2644533903.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sirius_df_ci = sirius_df_grouped.apply(lambda x: x.sem() * 1.96)